<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- 
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
<ul class="navbar-nav">
    <li class="nav-item">
    <a routerLink="employees"  routerLinkActive="active" class="nav-link" >Employee List</a>
    </li>
    <li class="nav-item">
        <a routerLink="create-employee"  routerLinkActive="active" class="nav-link">Add Employee</a>
        </li>
        
</ul>
<form class="navbar-form  navbar-left">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="search">
  </div>
    </form>
</nav> -->
<app-side-menu></app-side-menu>

<h1 class="text-center">{{title}}</h1>
<div class ="container">
    
    <router-outlet></router-outlet> 

</div>
   <footer class="footer">
<div class="container">
<span style="position:absolute;left:0;bottom: 0;width: 100%;height:40px;background-color:black;;text-align: center;color:white;">All Rights Reserved 2021 @Iolite</span>


</div>
 </footer>

