<h3>view Employee Details</h3>
<div>
<div>
    <label> <b>First Name: </b></label> {{employee.firstName}}
</div>

<div>
    <label> <b>Last Name: </b></label> {{employee.lastName}}
</div>

<div>
    <label> <b>Email: </b></label> {{employee.email}}
</div>
</div>
