<div class="col-md-6 offset-md-3">
    <h3>update Employee</h3>
    <form  (ngSubmit)="onSubmit()">
    
    
    
    
        <div class="form-group">
    <label>firstName</label>
    <input type="text" class="form-control" id="firstName"
    [(ngModel)]="employee.firstName" name="firstName">
        </div>
    
        <div class="form-group">
            <label>lastName</label>
            <input type="text" class="form-control" id="lastName"
            [(ngModel)]="employee.lastName" name="lastName">
                </div>
    
                <div class="form-group">
                    <label>email</label>
                    <input type="text" class="form-control" id="email"
                    [(ngModel)]="employee.email" name="email">
                        </div>
    
                        <button class="btn-btn-success" type="submit" style="background-color: forestgreen;">save</button>
                        
    
    </form>
    </div>
