 <h2>Employee List</h2>
<table  class = "table table-striped">
<thead>
<tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
 <tr *ngFor="let employee of employees">
<td>{{employee.firstName}}</td>
<td>{{employee.lastName}}</td>
<td>{{employee.email}}</td> 
<td>
    <button (click)="updateEmployee(employee.id)" class="btn btn-info">update</button>
    <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>

    <button (click)="employeeDetails(employee.id)" class="btn btn-info"  style="margin-left: 10px">view</button>
</td>
 </tr>
</tbody> 
</table> 


